.container {
    max-width: 1200px;
    margin: 50px auto;
}

.certificationContainer {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
}

.image {
    height: 538px;
}

.header {
    font-family: BoschSansBold;
    font-size: var(--header-font-size-desktop);
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #005792;
}

.header2 {
    font-family: BoschSansBold;
    font-size: var(--sub-header-font-size-desktop);
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #005792;
}

.subHeader {
    font-family: BoschSansBold;
    font-size: var(--sub-header2-font-size-desktop);
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #005792;
    padding: 0;
    margin: 0;
}

.text {
    font-family: BoschSansRegular;
    font-size: var(--text-font-size-desktop);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2e3033;
}

.textBold {
    font-family: BoschSansBold;
    font-size: var(--text-font-size-desktop);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2e3033;
}

.link {
    font-family: BoschSansRegular;
    font-size: var(--text-font-size-desktop);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-decoration: underline;
    color: #ed0006;
}

.button {
    width: 238px;
    height: 56px;
    border: hwb(358 0% 7%);
    display: block;
    margin: 32px auto;
    background-color: #ed0006;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(225, 0, 5, 1);
}

.button:active {
    background: rgba(213, 0, 3, 1);
}

.buttonText {
    font-family: BoschSansBold;
    font-size: var(--text-font-size-desktop);
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 1270px) {
    .container {
        margin-left: 35px;
        margin-right: 35px;
    }
}

@media screen and (max-width: 900px) {
    .header {
        font-size: var(--header-font-size-mobile);
    }

    .header2 {
        font-size: var(--sub-header-font-size-mobile);
    }

    .subHeader {
        font-size: var(--sub-header2-font-size-mobile);
    }

    .text {
        font-size: var(--text-font-size-mobile);
        margin: 0;
    }

    .textBold {
        font-size: var(--text-font-size-mobile);
    }

    .link {
        font-size: var(--text-font-size-mobile);
    }

    .buttonText {
        font-size: var(--text-font-size-mobile);
    }


    .image {
        height: 400px;
    }

    .circleCheck {
        height: 35px;
        width: 35px;
    }

    .certificationContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .image {
        height: 300px;
    }
}