.backgroundContainer {
    background-color: #005792;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 64px 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.header {
    font-family: BoschSansBold;
    font-size: 42px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #fff;
}

.button {
    min-width: 238px;
    height: 56px;
    margin-top: 32px;
    border: #ed0006;
    display: block;
    background-color: #ed0006;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(225, 0, 5, 1);
}

.button:active {
    background: rgba(213, 0, 3, 1);
}

.buttonText {
    font-family: BoschSansBold;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.check {
    width: 13px;
    height: 24px;
    margin: 0 8px 0 0;
    font-family: FontAwesome6Pro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #fff;
}

.image {
    height: 428px;
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1270px) {
    .container {
        margin-left: 35px;
        margin-right: 35px;

    }
}

@media screen and (max-width: 900px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .image {
        height: 350px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}