.backgroundContainer {
    background-color: #004473;
}

.container {
    min-height: 69px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #004473;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.copyright {
    font-family: BoschSansBold;
    font-size: var(--secondary-text-font-size-desktop);
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
}

.link {
    font-family: BoschSansRegular;
    font-size: var(--secondary-text-font-size-desktop);
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    margin: 0 10px;
}

@media screen and (max-width: 1270px) {
    .container {
        margin-left: 35px;
        margin-right: 35px;

    }
}

@media screen and (max-width: 900px) {
    .container {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .copyright {
        text-align: center;
        margin: 15px;
        font-size: var(--secondary-text-font-size-mobile);
    }

    .link {
        margin: 10px;
        font-size: var(--secondary-text-font-size-mobile);
    }
}