html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
  font-family: BoschSansRegular;
  src: local(BoschSansRegular),
    url('../public/fonts/BoschSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: BoschSansBold;
  src: local(BoschSansBold),
    url('../public/fonts/BoschSans-Bold.ttf') format('truetype');
}

:root {
  --maximum-content-width: 1200px;
  --header-font-size-desktop : 51px;
  --header-font-size-mobile : 32px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
