.pageContainer {
  padding: 0;
  margin: 0;
}

.boschHeader {
  box-sizing: border-box;
  height: 15px;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.valueContainer {
  max-width: var(--maximum-content-width);
  margin: 15px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.check {
  width: 13px;
  height: 24px;
  margin: 0 8px 0 0;
  font-family: FontAwesome6Pro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #005792;
}

@media screen and (max-width: 1200px) {
  .valueContainer {
    display: none !important;
  }
}