.pageContainer {
  padding: 0;
  margin: 0;
}

.boschHeader {
  box-sizing: border-box;
  height: 15px;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}