.container {
    max-width: 1200px;
    margin: 50px auto;
}

.mapSection {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
}

.headings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.header {
    font-family: BoschSansBold;
    font-size: var(--header-font-size-desktop);
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #005792;
}

.header2 {
    font-family: BoschSansBold;
    font-size: var(--sub-header-font-size-desktop);
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #005792;
}

.text {
    font-family: BoschSansRegular;
    font-size: var(--text-font-size-desktop);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2e3033;
}

.link {
    font-family: BoschSansRegular;
    font-size: var(--text-font-size-desktop);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ed0006;
}

@media screen and (max-width: 1270px) {
    .container {
        margin-left: 35px;
        margin-right: 35px;
    }
}

@media screen and (max-width: 900px) {
    .header {
        font-size: var(--header-font-size-mobile);
    }

    .header2 {
        font-size: var(--sub-header-font-size-mobile);
    }

    .text {
        font-size: var(--text-font-size-mobile);
    }

    .link {
        font-size: var(--text-font-size-mobile);
    }

    .mapSection {
        grid-template-columns: repeat(1, 1fr);
    }

    .headings {
        grid-template-columns: repeat(1, 1fr);
    }
}