.container {
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15% 0 15%;
    margin: 40px 0;
}

.link {
    font-family: BoschSansRegular;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2e3033;
    margin: 0 10px;
}