.container {
    height: 55px;
    max-width: var(--maximum-content-width);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px auto;
    padding: 0 20px;
}

.link {
    font-family: BoschSansRegular;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    padding: 0 15px;
    letter-spacing: normal;
    color: #2e3033;

    
}

.link:hover {
    text-decoration: underline;
  }

@media screen and (max-width: 950px) {
    .container {
        padding: 0 35px;
        margin: 30px auto;
    }

    .link {
        display: none !important;
    }
  }