.container {
    height: 55px;
    max-width: var(--maximum-content-width);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px auto;
}

.link {
    font-family: BoschSansRegular;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2e3033;
    margin: 0 10px;
}